html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Inter', 'Roboto', 'Helvetica', 'Arial', sans-serif;
  background-color: #F4F6FA;
  color: #1C2534;
}

a {
  color: inherit;
}
