html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Inter', 'Roboto', 'Helvetica', 'Arial', sans-serif;
  background-color: #F8FAFC;
  color: #0F172A;
}

a {
  color: inherit;
}
